/*GLOBAL STYLES*/

*{padding: 0;margin: 0;box-sizing: border-box;line-height: normal !important;}
ul{list-style: none;}
a{text-decoration: none;}

/*FLEX*/

.main-content{display: flex;width: 90%;margin: 0 auto;margin-left:9.2%;flex-wrap: wrap;}
.col{display:flex;flex-direction: column;align-items:center; background-color:aliceblue;flex: 1;margin-left:2%;margin-top:2%;}
.primary{}
.word{background-color: aqua;}
.flex-nav{order: 5;width: 4.3%;margin-left: 1.0%;}
.flex-nav li{}
.flex-nav img{width: 80px;
    border-radius:40px;
    transition-property: background-color ease-in;
    transition-duration: 0.5s;}
.flex-nav img:hover{background-color: aqua;}
/*.flex-nav is a flex item inside the flex container, so it should not have properties that belong to the flex container.*/
.main-header{
    display: flex;
    flex-direction: column; /*Column instead of row.*/
    justify-content: space-between;/*align-items:center; Do not need this, default is flex-start.*/
    height: 100%;/*Height, just for demonstrational purposes.*/}
/*STYLES*/

body{background-color: #a7a7a7;}
.search input{width:100%;
    height:10%;
    font-size:70px;
    border-radius: 5px;
    font-style: italic;
    color:grey;}
::-webkit-input-placeholder {
   text-align: right;
    font-style: italic;
    font-size: 0.5em;
    line-height: 2.4;}

/*IMAGE STYLE*/

.logo img{max-width: 130px;max-height:130px;margin-left:7%;}
.search{display: flex;justify-content: space-between;align-items: center;}
.searchme{margin-top:-1%;
    margin-right: 1%;
    width: 70%;}
form{display:flex;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133);
}
.button{width:80%; margin-top:15%;margin-bottom: 3%;}
.button input{width:100%; height:5%;
    font-size:1em;
    border-radius: 5px;
    font-style: italic;
    color:grey;}
