/*GLOBAL STYLES*/

*{padding: 0;margin: 0;box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none;}

/*FLEX*/

.container{}
.primary{}
.secondary{}
.flex-nav{}
.flex-nav li{}
.flex-nav a{}
.flex-nav span{}
/*.flex-nav is a flex item inside the flex container, so it should not have properties that belong to the flex container.*/
.main-header
/*.flex-nav*/ {
    display: flex;
    flex-direction: column; /*Column instead of row.*/
    }
.main-header {
    /*align-items:center; Do not need this, default is flex-start.*/
    justify-content: space-between;
    height: 100%; /*Height, just for demonstrational purposes.*/
}
/*STYLES*/

body{background-color: #a7a7a7;}


/*IMAGE STYLE*/

/*.main-header,
.flex-nav {
    display: flex;
    flex-direction: row;
	}
.main-header {
    flex-direction: row;
    justify-content: space-between;}*/
.logo{max-width: 130px;max-height:130px;}
.search{display: flex;justify-content: space-between;align-items: center;}
.searchme{margin-right: 3%;}